In [1]:
from typing import Dict, List, Tuple

from python_scripts.LLM_analysis.preprocess_store_database import get_connection

ModuleNotFoundError: No module named 'python_scripts'

In [8]:
import pandas as pd

def visualize_stock_bars():
    con = get_connection()

    SQL = '''
        SELECT * FROM stock_bars
        '''

    df = pd.read_sql_query(SQL, con)
    print('stock_bars: ')
    print(df.describe())

    print(df.groupby(['symbol']).describe())

visualize_stock_bars()

stock_bars:
                open           high            low          close  \
count  223816.000000  223816.000000  223816.000000  223816.000000
mean      552.916106     554.067025     551.717107     552.901362
std       829.313725     830.770218     827.745748     829.244853
min        81.550000      81.865000      81.450000      81.560000
25%       162.880000     163.305000     162.498750     162.890000
50%       233.020000     233.560000     232.460000     233.010000
75%       438.742500     439.670000     437.751250     438.830000
max      3769.175000    3771.450000    3758.400000    3766.800000

             volume    trade_count           vwap
count  2.238160e+05  223816.000000  223816.000000
mean   6.231411e+04     771.909122     552.899369
std    2.299832e+05    2513.664536     829.260859
min    4.000000e+01       1.000000      81.759901
25%    8.274000e+03     149.000000     162.911044
50%    1.946850e+04     283.000000     233.014077
75%    4.209025e+04     527.000000     438.795125
max    1.679080e+07  151700.000000    3764.924441
           open                                                         \
          count         mean          std      min       25%       50%
symbol
AAPL    38291.0   180.216915    54.311990  103.820  144.6600  171.3600
AMZN    36874.0  1204.538257  1454.203261   81.550  138.4225  204.9550
GOOGL   36681.0   921.381541  1064.762827   83.530  135.9150  178.1600
META    36832.0   374.369540   179.646136   88.340  250.3450  323.4800
MSFT    36802.0   335.627002    90.525246  196.660  256.2000  318.8225
NVDA    38336.0   325.983967   224.128945   87.485  149.3600  222.2750

                                 high               ... trade_count            \
               75%       max    count         mean  ...         75%       max
symbol                                              ...
AAPL     206.68500   514.800  38291.0   180.588280  ...       616.0   79721.0
AMZN    3129.27750  3769.175  36874.0  1206.913782  ...       531.0   59473.0
GOOGL   2051.94000  3027.500  36681.0   922.991342  ...       389.0   48879.0
META     511.81000   795.240  36832.0   375.293965  ...       409.0   84340.0
MSFT     413.98875   555.200  36802.0   336.222857  ...       422.0   33980.0
NVDA     488.02000  1241.310  38336.0   327.047013  ...       812.0  151700.0

           vwap                                                                \
          count         mean          std         min         25%         50%
symbol
AAPL    38291.0   180.223937    54.319355  104.020000  144.699959  171.381124
AMZN    36874.0  1204.457695  1454.091708   81.759901  138.389121  204.975565
GOOGL   36681.0   921.371793  1064.722909   83.530000  135.906164  178.162170
META    36832.0   374.366350   179.624420   88.398106  250.354268  323.531200
MSFT    36802.0   335.623241    90.516990  196.736079  256.210755  318.755275
NVDA    38336.0   325.972733   224.117635   87.866270  149.403697  222.298157


                75%          max
symbol
AAPL     206.752727   514.542857
AMZN    3129.229382  3764.924441
GOOGL   2051.568889  3010.522165
META     511.812381   794.482465
MSFT     413.917583   551.066667
NVDA     487.779104  1247.285016

[6 rows x 56 columns]

In [1]:
def look_for_holes_stock_bars(symbol: str):
    con = get_connection()
    df = pd.read_sql_query(f'''SELECT * FROM stock_bars WHERE symbol=={symbol}''', con)
    print(df.head())

look_for_holes_stock_bars('AAPL')

NameError: name 'get_connection' is not defined